div#header
{
	width:100%;
	/*background:#808080;*/
}

div#categoryList
{
	float:left;
	width:20%;
	height:100%;
	background:#E0F0FF;
	color:#404040;
	/*border-right:1px solid #404040;*/
	overflow:auto;
}

div#tabContainer
{
	float:left;
	background:#80C0FF;
	width:80%;
	height:100%;
	overflow:auto;
}

span#license
{
	position:absolute;
	left:0px;
	bottom:5px;
	width:100%;
	height:20px;
	text-align:center;
}

.collapsibleList li
{
	padding-bottom:5px;
	/*color:#404040;*/
	list-style-image:url('images/button.png');
	cursor:pointer;
}

span.categoryLabel
{
	margin-left:10px;
}

span.categoryLabel:hover
{
	/*background:#6080FF;*/
	text-decoration:underline;
}

li.collapsibleListOpen
{
	list-style-image:url('images/button-open.png');
}

li.collapsibleListOpen ul
{
	margin-top:5px;
	margin-bottom:10px;
}

li.collapsibleListClosed
{
	list-style-image:url('images/button-closed.png');
}

.button
{
	color:#2040C0;
	cursor:pointer;
}

div.button
{
	padding:5px;
}

.button:hover
{
	text-decoration:underline;
}

div#addCategoryWindow
{
	position:absolute;
	display:none;
	background:#FFFFFF;
	color:#202020;
	padding:5px;
	border:1px solid #000000;
}

span.modifyCategoryButton
{
	float:right;
	padding-right:5px;
	display:none;
}

div.modifyCategoryWindow
{
	position:absolute;
	display:none;
	background:#FFFFFF;
	color:#202020;
	padding:5px;
	border:1px solid #000000;
}